.button{
    height: 7%;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
}

.button button{
    height: 100%;
    width: 25%;
    background-color: rgb(173,216,230);
    color: black;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}